<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="../../static/CSS/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/CSS/count.css">
    <title>COMPTE</title>
    </style>
  </head>
  <body>

    <!-- sidebar -->
    <div class="container-principal">
      <div class="sidebar">
        
        <div class="img_sidebar"><a href="#"><img src="../../static/Images/logo.png" ></div>
        <div class="img_sidebar"><a href="#"><img src="../../static/Images/layout.png" style="height: 20px; width: 20px;"><span style="margin-left: 12px; font-size: 18px;">Aperçu</span></a></div>
        <div class="img_sidebar"><a href="#"><img src="../../static/Images/account.png" style="height: 30px; width: 30px;"><span style="margin-left: 8px; font-size: 18px;">Compte</span></a></div>
        <div class="img_sidebar"><a href="#"><img src="../../static/Images/transaction.png" style="height: 20px; width: 20px;"><span style="margin-left: 12px; font-size: 18px;">Transaction</span></a></div>
        <div class="img_sidebar" id="sidebar_user"><a href="#"><img src="../../static/Images/user.png" style="height: 20px; width: 20px;"><span style="margin-left: 12px; font-size: 18px;">Profil</span></a></div>
        <div class="img_sidebar" id="sidebar_logout"><a href="#"><img src="../../static/Images/back.png" style="height: 20px; width: 20px;"><span style="margin-left: 12px; font-size: 18px;">Déconnexion</span></a></div>
      </div>
      <!-- rigth blog -->
      <div class="rigth-container">
      <div class="rigth-blog-top">
        <div class="rigth-blog-top_01" id="rigth-blog-top_le"><h2>Compte</h2></div>

        <div class="rigth-blog-top_01" id="rigth-blog-top_ri">

          <span id="rigth-blog-top_span_1"><img src="../../static/Images/search.png" style="height: 30px; width: 30px;"><input type="text" placeholder="search"></span>
          <a href="#"><img src="../../static/Images/notification.png" style="height: 30px; width: 20px; margin-left: 25px;"></a>
          <span id="rigth-blog-top_span_2"></span><a href="#"><img src="../../static/Images/logo.png" style="height: 40px; width: 40px; border-radius: 65px;"></a></span>
        </div>

      </div>
      <div class="rigth-blog-center_01">
        <div class="credit-card" id="credit-card_1"></div>
        <div class="credit-card" id="credit-card_2"></div>
      </div>
      <div class="rigth-blog-center_02"></div>
      <div class="rigth-blog-botton"></div>
      </div>
    </div>
    
    
  </body>
</html>