*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.inner-content{
    display: flex;
    width: 60%;
    height: 80%;
    margin-top: 65px;
    align-items: center;
    justify-content: center;
    background-color: #D4F3E7;
}

.col{
    display: inline-block;
    height: 80%;
    width: 40%;
    border-radius: 15px;
    background-color: #FFF;
    box-shadow: inset 0 0 1em #D4F3E7, 0 0 2em #D4F3E7;
}

#col-right{
    width: 40%;
    margin-left: 3rem;
}

#col-right{
    background-color: #FFF;
    border-radius: 15px;
}
.card{
    height: 100%;
}
.in-form {
    height: 100%;

}
.in-form > h3{
    text-align: center;
    margin-top: 3vw;
}

.inp{
    margin-top: 45px;
    text-align: center;
}
label{
    font-size: 20px;
}
input[type=text]{
    height: 45px;
    width: 80%;
    border-radius: 8px;
    transition: width 0.4s ease-in-out;
}
#nom_compte::placeholder{
    color: hsl(158, 4%, 62%);
    text-align: 15px;
}

#commentaire::placeholder{
    color: hsl(158, 4%, 62%);;
}

input[type=submit]{
    height: 45px;
    width: 20%;
    border-radius: 8px;
    box-shadow: none;
    border: none;
    color: #FFF;
    font-size: 20px;
    margin-left: 45px;
    cursor: pointer;
}

textarea{
    height: 145px;
    width: 80%;
}

#retour{
    color: black;
    background-color: #D4D4D4;
}

#ajouter{
    background-color: #33B786;
}














