*{
    background-color: #D4F3E7;
}

.logo{
    font-family: 'Tangerine';
    font-style: normal;
    font-size: 100%;
    font-weight: 700;
    line-height: 32px;
    color: #555555;
    margin-top: 10%;

}