*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

.header{
    display: flex;
    width: 100%;
    height: 13vh;
}

.header-gauche{
    display: flex;
    position: absolute;
    width: 57%;
    height: 04vh;
    left: 40%;
    top: 60px;
}

.premier-gauche{
    display: flex;
    margin-left: 20%;
    width: 28%;
    height: 3vh;
}

.deuxieme-gauche{
    display: flex;
    margin-left: 30%;
    width: 20%;
    height: 3vh;
}

.conteneur{
    width: 100%;
    margin-top: 10%;


}

.premier-conteneur{
    width: 100%;
    height: 45vh;
    display: flex;
    border: 1px solid red

}

.conteneur-haut-droite{
    height: 30vh;
    width: 40%;

}
.conteneur-haut-gauche{
    height: 30vh;
    width: 35%;
    margin-left: 27%;

}

.conteneur-haut-gauche img{
    height: 45vh;
    width: 100%;
    border-radius: 15px;

}

.conteneur-haut-gauche{
    width: 25%;
    height: 45vh;
    justify-content: center;
    background-color: #D4F3E7;
    border-radius: 20px;
}

.dans1{
    width: 60%;
    height: 12vh;
    border-radius: 30px;
    background-color: #33B786;
    margin: 2% 0% 0% 7%;
}

.dans2{
    width: 60%;
    height: 12vh;
    border-radius: 30px;
    background-color: #fff;
    margin: 5% 5% 5% 20%;
}

.dans3{
    width: 60%;
    height: 12vh;
    border-radius: 30px;
    background-color: rgb(5, 120, 82);
    margin: 2% 0% 2% 7%;
}

.vous{
    justify-content: center;
    margin: 3% 0% 0% 30%;
}


.description_pre{
    width: 100%;
    height: 40vh;
    display: flex;
    margin-top: 3%;
}

.iiii{
    display: flex;
}

.iiii img{
    width: 7%;
    height: 4vh;

}

.description_deu{
    width: 100%;
    height: 40vh;
    display: flex;

}

.description{
    height: 35vh;
    width: 35%;
    margin: 5% 6%;
}

h5{
    margin: 2% 0% 2% 0%;
}

.potent1{
    width: 60%;
    height: 40vh;
    display: flex;
    margin-left: 10%;

}

.potent2{
    width: 60%;
    height: 40vh;
    display: flex;
    margin-left: 30%;

}

.Imag1{
    width: 200%;
    height: 35vh;
    margin: 3%;
    border-radius: 10px;
    
    
}
.Imag1 img{
    height: 35vh;
    width: 100%;
    border-radius: 15px;

}

.Imag2{
    width: 200%;
    height: 35vh;
    margin: 3%;
    border-radius: 10px;
    
}
.Imag2 img{
    height: 35vh;
    width: 100%;
    border-radius: 15px;
}

.conteneur-haut-gauche img{
    height: 45vh;
    width: 100%;
    border-radius: 15px;

}

.dernier{
    height: 45vh;
    margin-top: 8%;
    
}


.milieu_carre{
    margin-left: 59%;
    margin-top: -23%;
    background: #FFFFFF;
    box-shadow: 0px 0.5px 2px;
    border-radius: 5px;

}

.miii{
    background-image: url(../Images/backk.png);
}

.dernier-milieu{
    display: flex;
    height: 20vh;
    border: 1px solid yellow;
}

.milieu_im1{
    border: 1px solid red;
}


.bas_im1{
    width: 3%;
    height: 5vh;
    border-radius: 20px;
    background-color: #000;
    border: 1px solid red;
}

.point{
    width: 100%;
    margin-right: 30%;
    
}


.point1{
    display: flex;
    margin: 3% 0% 0% 50%;
}

.point11{
    background-color: #33B786;
    width: 1
    0.5%;
    height: 0.5vh;
    margin: 2% 0% 0% 5%;
    border-radius: 100px;
}

.point2{
    display: flex;
    margin: 2% 0% 0% 50%;
}

.point21{
    background-color: #33B786;
    width: 0.5%;
    height: 0.5vh;
    margin: 2% 0% 0% 5%;
    border-radius: 50px;
}

.point3{
    display: flex;
    margin: 2% 0% 0% 50%;
}

.point31{
    background-color: #33B786;
    width: 0.5%;
    height: 0.5vh;
    margin: 2% 0% 0% 5%;
    border-radius: 50px;
}

.point4{
    display: flex;
    margin: 2% 0% 0% 50%;
}

.point41{
    background-color: #33B786;
    width: 0.5%;
    height: 0.5vh;
    margin: 2% 0% 0% 5%;
    border-radius: 50px;
}

.point5{
    display: flex;
    margin: 2% 0% 0% 50%;
}

.point51{
    background-color: #33B786;
    width: 0.5%;
    height: 0.5vh;
    margin: 2% 0% 0% 5%;
    border-radius: 50px;
}


.dernier-bas{
    display: flex;
    height: 20vh;
    border: 1px solid red;
}


.footer_grand{
    position: absolute;
    width: 100%;
    height: 45vh;
    left: 0px;
    margin-top: 20%;
    background-color: #1F5357;
}

.footer_petit{
    position: absolute;
    width: 50%;
    height: 30vh;
    left: 370px;
    margin-top: 13%;

    background-color: #33B786
    ;
}
