body{
    margin: 0px;
    padding: 0px;
}

/* sidebar */
.container-principal{
    height: 830px;
    background-color: #cedad5;
}

.sidebar{
    height: 825px;
    width: 10%;
    overflow: hidden;
    background-color: #cedad5;
    float: left;
}

.img_sidebar{
    margin-top: 25px;
    margin-left: 35px;
}

.img_sidebar > a{
    text-decoration: none;
    color: #000;
}

#sidebar_user{
    margin-top: 30vh;
}

#sidebar_logout{
    margin-top: 15vh;
}
/* right bar */

.rigth-container{
    height: 830px;
    width: 85%;
    float: right;
    background-color: #cedad5;
    overflow: hidden;
}

.rigth-blog-top{
    height: 8vh;
    overflow: hidden;
    margin-top: 8vh;
}
.rigth-blog-top_01{
    height: 8vh;
    display: inline-block;
    overflow: hidden;
}

#rigth-blog-top_le{
    width: 25%;
}

#rigth-blog-top_ri{
    width: 30%;
    margin-left: 80vh;
}

#rigth-blog-top_span_1 > input{
    width: 55%;
    border-color: rgba(214, 216, 218, 0.995);
    border-radius: 5px;

}
#rigth-blog-top_span_2{
    margin-left: 2vh;
}

.rigth-blog-center_01{
    height: 25vh;
    margin-top: 35px;
}

/* === contunu de a remplir ==*/
.tous{
    display: flex;
}

.h5{
    margin-left: 12%;
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 32px 95px;
    gap: 13px;
    position: absolute;
    width: 19%;
    height: 20vh;
    left: 350px;
    top: 200px;
    background: #D4F3E7;
    border-radius: 12px;
}

.school{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 66px;
    gap: 5px;
    position: absolute;
    width: 19%;
    height: 20vh;
    left: 710px;
    top: 200px;
    background: #D4F3E7;
    border-radius: 12px; 
}

.hollidays{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 66px;
    gap: 5px;
    position: absolute;
    width: 19%;
    height: 20vh;
    left: 1070px;
    top: 200px;
    background: #D4F3E7;
    border-radius: 12px;
}

.spas{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    display: flex;
    align-items: center;
    color: #46237A;
	background-color: #D4F3E7;
}

.p{
    font-family: 'Bebas Neue';
	background-color: #D4F3E7;
    font-size: 23px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #252525;
    flex: none;
    order: 1;
    flex-grow: 0;
}

h6{
	position: absolute;
    width: 137.53px;
    height: 26px;
    left: 1%;
    top: -5vh;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #252525;

}

.tab{
	position: absolute;
    width: 80%;
    height: 30vh;
    left: 15%;
    top: 70vh;
}

table {
	margin: 0;
	padding: 0;
	width: 100%;
  }

  
table tr {

	padding: .35em;
}
  
table td {
	padding: .625em;
	text-align: center;
}


