<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<header>
    <div class="header">
        <div class="logo" style="width: 20%;"><a href="#"><img src="../../static/Images/logo.png" ></div>
        <div class="header-gauche">
            <div class="premier-gauche">
                <a href="#">Home</a>
                <a href="#" style="margin-left: 35%;">Features</a>
            </div>
            <div class="deuxieme-gauche">
                <a href="#">Sign up</a>
                <a href="#" style="margin-left: 30%; width: 40%; height: 3vh; border-radius: 5px;; background-color: gray; text-align: center; color: #fff;">Sign in</a>
            </div>
        </div>
    </div>
</header>
<body>
    <div>
        <div class="conteneur">
            <div class="premier-conteneur">
                <div class="conteneur-haut-droite">
                    <div>
                        <h1 style="margin: 10% 0% 0% 15%; font-family: 'Poppins';">Chaque transaction est <br> spéciale pour nous.</h1>
                         <p style="color: gray; margin-top: 3%; margin-left: 15%; font-family: 'Poppins';">Nous nous engageons à fournir un excellent service et à faire en sorte que chaque <br> transaction soit traitée avec le plus grand soin et la plus grande attention...</p>
                         <a href="#">
                            <button style="background-color: #33B887; width: 15%; height: 3vh; border-radius: 5px; text-align: center; margin: 5% 0% 0% 13%; cursor: pointer;">Commencer</button>
                        </a>
                    </div>
                </div>
                <div class="conteneur-haut-gauche">
                    <img src="../static/Images/haut.png" alt="#">
                </div>
            </div>
        </div>
        <div class="vous">
            <div>
                <h1 style="margin-left: 18%;">Pour Votre Buisiness</h1>
            </div>
            <div><p>Nous nous efforçons de fournir un service exceptionnel et de nous assurer que chaque transaction <br style="margin-left: 20%;"> répond aux normes de qualité et de précision les plus élevées.</p></div>
        </div>
        <div class="description_pre">
            <div class="description">
                <div class="iiii">
                    <img src="../static/Images/i1.png" alt="#">
                    <h5>Suivez Vos Prospects.</h5>
                </div>
                <p>Nos fonctionnalités innovantes, notre interface conviviale et notre plateforme sécurisée vous permettent d'accéder et de gérer facilement vos comptes de n'importe où, n'importe quand, avec une efficacité et une commodité maximales.</p>
            </div>
            <div class="description">
                <div class="iiii">
                    <img src="../static/Images/i2.png" alt="#">
                    <h5>Partagez Vos Idées.</h5>
                </div>
                <p>Nous offrons une gamme d'outils et de ressources pour aider nos clients à rester informés et à faire les meilleurs choix pour leur avenir financier.</p>
            </div>
        </div>
        <div class="description_deu">
            <div class="description">
                <div class="iiii">
                    <img src="../static/Images/i3.png" alt="#">
                    <h5>Dans 54 Pays d'Afrique</h5>
                </div>
                <p>Nous servons des clients dans les 54 pays d'Afrique. Notre plateforme fournit des services bancaires sécurisés et pratiques pour vous aider à gérer vos finances, transférer des fonds, payer des factures, etc., où que vous soyez sur le continent. Rejoignez notre communauté de clients satisfaits et faites l'expérience de la banque avec facilité et efficacité.</p>
            </div>
            <div class="description">
                <div class="iiii">
                    <img src="../static/Images/i4.png" alt="#">
                    <h5>Système de Récompense Disponible</h5>
                </div>
                <p>Notre application propose une variété de programmes de récompense qui vous permettent de gagner des points, des remises en argent et d'autres avantages exclusifs pour effectuer diverses tâches financières, telles que faire des dépôts, payer des factures et parrainer des amis. Commencez à gagner des récompenses dès aujourd'hui et profitez des avantages d'une gestion financière responsable.</p>
            </div>
        </div>
        <div class="potent1">
            <div class="Imag1">
                <img src="../static/Images/milieu.png" alt="#">
            </div>
            <div style="margin: 6% 6% 6% 6%;">
                <h5>Booster la Productivité</h5>
                <p>C'est pourquoi nous proposons une gamme d'outils et de ressources numériques pour vous aider à gagner du temps, à rester organisé et à augmenter votre productivité. Grâce à nos services bancaires rationalisés, vous pouvez vous concentrer sur ce qui compte le plus : faire fructifier votre patrimoine et réussir sur le plan financier.</p>
                <a href="#">
                    <button style="background-color: #33B887; width: 25%; height: 3vh; border-radius: 5px; text-align: center; margin: 5% 0% 0% 13%; cursor: pointer;">Commencer</button>
                </a>
            </div>
        </div>
        <div class="potent2" >
            <div style="margin: 6% 6% 6% 6%;">
                <h5>La Plus Grande Sortie</h5>
                <p> Nos fonctionnalités innovantes, notre interface conviviale et notre plateforme sécurisée vous permettent d'accéder et de gérer facilement vos comptes de n'importe où, n'importe quand, avec une efficacité et une commodité maximales.</p>
                <a href="#">
                    <button style="background-color: #33B887; width: 30%; height: 3vh; border-radius: 5px; text-align: center; margin: 5% 0% 0% 13%; cursor: pointer;">Commencer</button>
                </a>
            </div>
            <div class="Imag2">
                <img src="../static/Images/bas.png" alt="#">
            </div>
        </div>
        <div class="dernier">
            <div class="dernier-haut">

            </div>
            <div class="dernier-milieu">
                <div class="milieu_im1"></div>
                <div class="milieu_carre"></div>
                <div class="milieu_im2">
                    <div class="carre"></div>
                </div>
            </div>
            <div class="dernier-bas">
                <div class="bas_im1"></div>
                <div class="point">
                    <div class="point1">
                        <div class="point11"></div>
                        <div class="point11"></div>
                        <div class="point11"></div>
                    </div>
                    <div class="point2">
                        <div class="point21"></div>
                        <div class="point21"></div>
                        <div class="point21"></div>
                    </div>
                    <div class="point3">
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                        <div class="point31"></div>
                    </div>
                    <div class="point4">
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                        <div class="point41"></div>
                    </div>
                    <div class="point5">
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                        <div class="point51"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
        <div class="footer_grand">
            <div style="background-color: #1F5357">
                <h5 style="background-color: #1F5357; color: #FFFFFF">INFORMATION</h5>
                <p style="background-color: #1F5357; color: #C6C6C6;">Contactez-nous à tout moment et créons ensemble un <br> avenir meilleur pour tous les utilisateurs <br> de technologie, pour toujours. Nous sommes ouverts à tous les types d'offres de <br> collaboration et bien plus encore.</p>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div class="footer_petit">
            <h2 style="margin-top: 5%; background-color: #33B887; color: #FFFFFF; font-family: 'Poppins'; text-align: center;">Avancez encore plus vite avec Votre <br> guide à l'ère numérique.</h2>
        </div>
    </div>

    
</body>
</html>