<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
    <link rel="stylesheet" href="../static/CSS/style.css">
</head>
<header>
    <div class="header">
        <div class="logo"><a href="#"><img src="../../static/Images/logo.png" ></div>
        <div class="header-gauche">
            <div class="premier-gauche">
                <a href="#">Home</a>
                <a href="#" style="margin-left: 35%;">Features</a>
            </div>
            <div class="deuxieme-gauche">
                <a href="#">Sign up</a>
                <a href="#" style="margin-left: 30%; width: 40%; height: 3vh; border-radius: 5px;; background-color: gray; text-align: center; color: #fff;">Sign in</a>
            </div>
        </div>
    </div>
</header>
<body>
    <div>
        <div class="conteneur">
            <div class="premier-conteneur">
                <div class="conteneur-haut-droite">
                    <div>
                        <h1 style="margin-left: 10%; font-family: 'Poppins';">Chaque transaction est <br> spéciale pour nous.</h1>
                         <p style="color: gray; margin-top: 3%; margin-left: 10%; font-family: 'Poppins';">Nous nous engageons à fournir un excellent service et à faire en sorte que chaque <br> transaction soit traitée avec le plus grand soin et la plus grande attention...</p>
                        <div style="background-color: #33B887; width: 15%; height: 3vh; border-radius: 5px; text-align: center; margin: 5% 0% 0% 13%;">
                            <a href="#">Commencer</a>
                        </div>
                    </div>
                </div>
                <div class="conteneur-haut-gauche">
                    <div class="dans1"></div>
                    <div class="dans2"></div>
                    <div class="dans3"></div>
                </div>
            </div>
        </div>
        <div class="vous">
            <div><h1 style="margin-left: 18%;">Pour Votre Buisiness</h1></div>
            <div><p>Nous nous efforçons de fournir un service exceptionnel et de nous assurer que chaque transaction <br style="margin-left: 20%;"> répond aux normes de qualité et de précision les plus élevées.</p></div>
            
            
        </div>
    </div>

    
</body>
</html>