<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="sign.css" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/iconify-icon@1.0.7/dist/iconify-icon.min.js"></script>

    <title>Login</title>
  </head>

  <!------ body ------>
  <body>
    <div class="container">
      <!------ left part of the view ------>
      <div class="inner-content">
        <div class="col">
          <!------ logo ------>

          <div class="logo">
            <iconify-icon icon="arcticons:vpbank-neo"></iconify-icon>
            <span>ka bank</span>
          </div>

          <div class="left-texts">
            <h1>welcome back</h1>
            <p>Enter Your Details to login to your Banking Dashboard again!</p>
          </div>

          <div class="socials">
            <span><iconify-icon icon="ri:facebook-fill"></iconify-icon></span>
            <span><iconify-icon icon="ion:logo-instagram"></iconify-icon></span>
            <span><iconify-icon icon="prime:twitter"></iconify-icon></span>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="in-form">
              <h3>Login</h3>
              <form action="" method="get">
                <div class="inp">
                  <label for="email">email</label>
                  <input type="email" name="email" id="" />
                </div>
                <div class="inp">
                  <label for="pass">password</label>
                  <input type="password" name="pass" id="" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
